<div class="card">
  <div class="card-header">
    <h2>{{content.num}} ) {{content.question.title}}</h2>
  </div>
  <div class="card-body">
    <br />
    <div class="question-statment">{{content.question.statement}}</div>
    <br />

    <table class="table-borderless options-table">
      <tbody>
        <tr ng-repeat="(index, option) in content.question.options">
          <td class="answer-col" ng-if="!content.hideRadioButtons">
            <input
              type="radio"
              ng-model="answer"
              name="answer"
              ng-value="option.id"
              ng-change="updateAnswer(index)"
            />
          </td>
          <th scope="row">{{alternativeIdentifier[index]}} )</th>
          <td class="option-col">
            {{option.statement}}
            <span ng-if="review">
              <span ng-if="review.studentAnswer == option.id">
                <b>(Resposta do Estudante)</b>
                <span ng-if="studentIsCorrect()">✔️</span>
                <span ng-if="!studentIsCorrect()">❌</span>
              </span> 
              <span ng-if="!studentIsCorrect() && review.correctAnswer == option.id"><b>(Resposta correta)</b></span>         
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
</div>