.answer-sheet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.answer-sheet-column {
  min-width: 20rem;
}

@media screen and (min-width: 360px) {
  .answer-sheet-column {
    width: 28rem;
  }
}

@media screen and (min-width: 412px) {
    .answer-sheet-column {
      width: 32rem;
    }
  }