html {
  font-size: 6.25%;  
}

* {
  font-size: 12rem;
  color: #000;
  line-height: 1.6;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url("../img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1rem;
  margin: 2rem;
}

h1{
    font-size: 24rem;
}

h2{
    font-size: 18rem;
}

h3{
    font-size: 14rem;
}

.box {
  margin-bottom: 20rem;
  padding: 30rem 15rem;
  background: #fff;
}

.oops-img{
    max-height: 50vh;
    max-width: 90vw;
}

.btn{
    font-size: 15rem;
    border-radius: 5rem;
    padding: 2rem 5rem;
}

.card{
  border-radius: 5rem;
}

.card-header{
  padding: 5rem;
  display: flex;
}

.card-body{
  padding: 10rem;
}

