<div class="card">
  <div class="card-header">
    <h1 class="card-title text-center">Matriculado</h1>
  </div>
  <div class="card-body row">
    <div class="col">
      <hoverable-table content="table"></hoverable-table>
    </div>
  </div>
</div>
<br>
<div class="card">
  <div class="card-header">
    <h1 class="card-title text-center">Outras Turmas</h1>
  </div>
  <div class="card-body row">
    <div class="col">
      <hoverable-table content="table"></hoverable-table>
    </div>
  </div>
</div>