.brand {
  display: none;
}

.navbar-header {
  width: 100%;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2rem;
  font-size: 17rem;
  padding-top: 13rem;
}

.navbar-nav {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3rem;
}

@media screen and (min-width: 768px) {
  .brand {
    display: inherit;
    margin: 0;
    padding: 30rem 0 10rem;
    text-align: center;
    text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.5);
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50rem;
    font-weight: 700;
    line-height: normal;
    color: #fff;
  }

  .navbar-header {
    display: none;
  }

  .navbar {
    border-radius: 0;
    min-height: 0;
  }

  .navbar-default {
    border: none;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
  }

  .nav > li > a {
    padding: 35rem;
  }

  .navbar-nav > li > a {
    line-height: normal;
    font-size: 15rem;
  }

  .navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 12.5rem;
  }
}
