  .question-form{
    display: flex;
    flex-direction: column;
  }
  
  .question-form-label{
    width:50rem;
  }
  
  .question-form-input{
    width:calc(100% - 55rem);
  }

  .options-table{
    border-spacing: 5rem;
    border-collapse: separate;
    padding: 0;
    width: 100%;
  }

.option-col{
  width: 90%;
}

.option-input{
  width: 90%;
}

 .answer-col{
   width: fit-content;
 }