<div class="card">
  <div class="card-header">
    <h2>Nova questão</h2>
  </div>
  <div class="card-body">
    <form class="question-form">
      <div class="form-group">
        <label for="title" class="question-form-label">Título: </label>
        <input type="text" ng-model="title" id="title" class="question-form-input"/>
      </div>
      <br />
      <div class="form-group">
        <label for="statement">Enunciado : </label>
        <textarea ng-model="texto" ui-tinymce="tinymceOptions" id="statement"></textarea>
      </div>
      <br />

      <table class="table-borderless text-center options-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="option-col">Alternativa</th>
            <th scope="col" class="answer-col">Resposta</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(index, option) in options">
            <th scope="row">{{index+1}}</th>
            <td class="option-col">
              <input type="text" ng-model="option.text" class="option-input" required/>
            </td>
            <td class="answer-col">
              <input type="radio" ng-model="option.isAnswer" name="answer" />
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <br>
<button class="btn btn-success w-100">Salvar questão</button>

  </div>
</div>
