<div class="hoverable-table">
  <table class="table table-hover">
    <thead>
      <tr ng-if="content.showHeader">
        <th scope="col">#</th>
        <th scope="col" ng-repeat="col in content.colOrder" ng-click="updateOrdenation(col)" class="hoverable-table-colName">{{content.colNames[col]}}</th>
      </tr>
    </thead>
    <tbody  class="hoverable-table">
      <tr ng-repeat="(index, row) in content.rows | orderBy: content.orderBy | limitTo: actualPage*resultsPerPage - content.rows.length | limitTo: resultsPerPage">
        <td>{{index + 1 + actualPage*resultsPerPage}}</td>
        <td ng-repeat="col in content.colOrder">{{row[col]}}</td>
      </tr>  
    </tbody>
  </table>
  <div ng-if="content.rows.length > resultsPerPage">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" ng-click="previousPage()">&#60</a>
      </li>      
      <li class="page-item">
        <a class="page-link" ng-click="nextPage()">&#62</a>
      </li>
    </ul>
  </div>
</div>
