<div class="row">
  <div class="box container">
    <div>
      <h3 class="text-center">Sobre</h3>
      <br />
      <p>
        Durante a academia Ânima + Ulife, fomos apresentados a diversos
        conceitos e tecnologias, e como Projeto Integrador, para validar as
        habilidades técnicas aprendidas, foi solicitado desenvolvermos um
        sistema educacional com avaliações online. Para esse sistema, foi
        proposto que tivéssmos 2 tipos de usuários, sendo que cada um tem
        permissões para funcionalidades diferentes:
      </p>
      <br />
      <ul>
        <li>
          Aluno: permissão para responder às avaliações e consultar a nota
          final.
        </li>
        <li>
          Professor: permissão para consultar alunos, avaliações e
          inserir/alterar a nota final
        </li>
      </ul>
      <br />
      <p>
        Considerando que as avaliações são múltipla escolha, não vimos sentido
        em se alterar nota de um aluno. Pensamos em implementar questões com
        versionamento e a opção de anular questões, mas não houve tempo hábil
        para tal.
      </p>
      <br />
      <p>
        <a href="https://drive.google.com/file/d/18jD5lovU1ePUbGmon0__1SqjN9lGGQty/view?usp=sharing" target="_BLANK">Esboço da estrutura de dados</a> 
      </p>
      <br />
      <p>
        <a href="https://drive.google.com/file/d/18hWyH9-6GNG7BKTkZQ3albcvWi0d5qxg/view?usp=sharing" target="_BLANK">Esboço inicial do front</a> 
      </p>
      <br />
      <p>
        <a href="https://app.clickup.com/31045908/v/s/54931076" target="_BLANK">Quadro Kanban</a> 
      </p>
    </div>
  </div>
</div>
