<div class="box container">
<consult-question ng-repeat="question in content | limitTo: actualQuestion*questionsPerPage - content.length | limitTo: questionsPerPage" content="{question: question}"></consult-question>
<div ng-if="content.length > 1">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link pointer" ng-click="previousPage()">&#60</a>
    </li>  
    <li class="noHover">
      <span>{{actualQuestion+1}} / {{content.length}}</span>
    </li>    
    <li class="page-item">
      <a class="page-link pointer" ng-click="nextPage()">&#62</a>
    </li>
  </ul>
</div>
